header {
  width: 100%;
  height: 70px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(163, 171, 185, 0.26);
  /* padding-left: 32px;
  padding-top: 15px; */
  display: flex;
  justify-content: right;
}

.search-input{
  width: 80%;
  border: 1px solid grey;
  border-radius: 54px;
  background-color: #f1f1f1;
  border: none;
  padding: 10px;
  font-size: 17px;
  float: left;
}

.heading-name{
    width: 601px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 23px;
}

.user-details {
  display: flex;
  padding-right: 20px;
}

.user-details div,
.notification {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 12px;
}

.user-name {
  width: fit-content;
  height: 30px;
  font-size: 19px;
}

.notification {
  height: 30px;
  width: 30px;
}

.dp {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url('./../assets/user-avatar.jpg');
  background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -10px;
}