.app-container{
  width: 100%;
  display: flex;
}

.sidenav-container{
  width: 15%;
  padding: 15px;
  background-color: #d0f0f0d6;
}

.main-container{
  width: 85%;
}

.content-container{
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
}
