.chart-container {
  width: 300px;
  height: 225px;
  margin-left: 25px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.linechart-container {
  width: 300px;
  height: 250px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  overflow-y: scroll;
  margin-top: 20px;
}

.histogram-container {
  height: 358px;
  width: 720px;
  border-color: #fff;
  border-radius: 8px;
}

.pieChart-container {
  width: 320px;
  height: 358px;
  margin-left: 25px;
  padding: 14px;
  background-color: #fff;
  border-radius: 8px;
}